@import "assets/styles/variables.scss";
.active {
    color: $pink-hover;
}

.category-item {
    border: 1px solid $gray;
    padding: 0.5rem;

    &:hover {
        color: $pink-hover;
    }
}

.category-title {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $pink-hover;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $pink;
}

.icon {
    margin-right: 0.5rem;
}

.price {
    margin-top: 1rem;

    .filter-price {
        padding: 0;
    }

    input {
        outline: none;
        width: 100%;
        border: 1px solid $gray;
        padding: 0.5rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    button {
        display: flex;
        background-color: $pink;
        border: 1px solid $pink;
        margin: 1rem auto;
    }
}
