table {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ant-pagination {
  text-align: center;
}

.add-product {
  margin-top: 2rem;
}

h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
