.dashboard {
  width: 100%;
  margin: 0;
  display: flex;

  .nav {
    position: fixed;
    height: 100vh;
    width: 256px;
  }

  .content {
    padding: 2rem;
    margin-left: 256px;
    width: 90%;
  }
}

.item {
  img {
    width: 80px;
  }
  display: flex;
  align-items: center;

  &__detail {
    margin-left: 2rem;
  }
}
