@import "assets/styles/variables.scss";
@import "assets/styles/mixin.scss";

.login-form {
    width: 400px;
    margin: 2rem auto;

    button {
        @include button($white, $pink);
        text-align: center;

        &:hover {
            @include button($black, $pink-hover);
        }
    }

    .google {
        @include button($black, transparent);
        border: 1px solid $black !important;
        text-align: center;

        &:hover {
            @include button($pink-hover, transparent);
        }
    }
}
