@import "assets/styles/variables.scss";

.status {
    margin-top: 1rem;
    font-size: 1rem;

    &-title {
        font-weight: bold;
    }
}

.total {
    margin-bottom: 1rem;
}

.order {
    border-top: 1px solid $black;
}
