@import "assets/styles/variables.scss";
.header-wrapper {
    background-color: $black;

    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .header-top {
            line-height: 64px;
            button {
                margin-left: 0.5rem;
                background-color: $black;
                color: $white;
            }
        }

        .ant-layout-header {
            padding: 0;
        }
    }
}
