.products-list {
    .category-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2rem;
        text-transform: uppercase;
    }

    .image-slider {
        margin-top: 2rem;
        width: 100%;
        
        img {
            width: 100%;
        }
    }
}
