@import "assets/styles/variables";
.products-list {
    margin-top: 2rem;

    .paginations {
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .ant-input {
        width: 50%;
        margin-bottom: 2rem;
    }

    .search {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;

        button{
            background-color: $pink;
            border: none;
        }
    }

    .ant-empty,
    .loading {
        margin: auto;
    }
}
