@import "assets/styles/variables";

.slider {
    margin-top: 2rem;

    .slide-item {
        position: relative;

        img {
            width: 100%;
            padding: 1rem;
            transition: all 0.5s ease-in-out;
        }

        .text-middle {
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;

            .text {
                color: $black;
                transition: all 0.5s ease-in-out;
                font-size: 1.5rem;
                font-weight: bolder;

                &:hover {
                    color: $pink;
                }
            }
        }

        &:hover .text-middle {
            opacity: 1;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            display: none;
            content: "";
            width: 0;
            height: 0;
            background: rgba(255, 255, 255, 0.8);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &:hover::before {
            animation: circle 1s;
            -webkit-animation: circle 1s;
            display: block;
        }

        &:hover img {
            opacity: 0.4;
        }

        @keyframes circle {
            0% {
                opacity: 1;
                width: 20%;
                height: 20%;
            }

            40% {
                opacity: 1;
            }
            
            100% {
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }
    }

    .slick-arrow {
        background-color: $pink;
        opacity: 0.8;
        height: 2rem;
        width: 1.5rem;
    }
}